<?xml version="1.0" encoding="UTF-8"?>
<properties>
	<category name="app">
		<property name="appName" value="polyvietnam" />		
		<property name="contextPath" value="http://polyvietnam.edu.vn" />
		<property name="usePathStatic" value="true" />
	</category>	
	<category name="email">
		<property name="host" value="smtp.gmail.com" />		
		<property name="port" value="465" />	
		<property name="user" value="forgotpass.polyvietnam" />	
		<property name="password" value="Poly25251325" />	
		<property name="from" value="forgotpass.polyvietnam@gmail.com" />	
		
		<property name="subject" value="[POLY] - Reset password" />	
		<property name="content" value="New your password is : {PASSWORD}" />				
	</category>	
</properties>
