/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}

/*Model-popup*/	
.modal-header {
	margin-left: 32px;
	margin-right: 32px;
	border-bottom: 1px solid #0662ae !important;
	text-align: center;	
}
.modal-title {
	font-size: 23.86px;
	font-family: roboto_regular;
	color: #0662ae;
/* 	padding-left: 108px; */
    text-transform: uppercase;
    font-weight: normal;
}		

.form-group .form-control {
	padding: 0px;
	border-radius: 0px;
	border: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	font-style:italic;
	color: #999999;
	font-size: 16px;
	font-weight: bold;
}


/**/